* {
    margin: 0;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    font-size: 18px;
}

body {
    background-color: rgb(27, 27, 32);
    overflow-y: scroll;
}

/* ----------première page HTML début---------------------------------------------------------------------------- */
/*navbar*/
/*text style*/
header li a {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
}
/*navbar setting*/
header {
    /*position:fixed;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(43, 43, 59);
    z-index: 1;
}

.ajustation-navbar {
    display: inline-flex;
    width: 150px;
}

.ajustation-navbar input {
    outline: none;
    width: 180px;
}
/*navbar buttons*/
nav li {
    display: inline-flex;
}

nav a {
    background-color: rgb(62, 115, 122);
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgb(104, 104, 104) 0px 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(42, 77, 82);
}

nav a:active {
    transform: translateY(3px);
    background-color:rgb(35, 108, 119);
    box-shadow: rgb(160, 145, 145) 0px 2px;
}
/*server logo*/
header img {
    position: relative;
    transform: translateX(-50%);
    border-radius: 50px;
    height: 70px;
    border: 3px solid rgb(52, 172, 190);
}
/*color theme buttons*/
/*onclick = change theme! exemple: black, white, yellow, pink*/
.color-theme {
    background: none;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 30px; 
    transition: none;
}

.color-theme:hover {
    background-color: rgb(194, 194, 194);
    transition: 0.6s;
}

.color-theme:active {
    background-color:rgb(128, 141, 143);
    transition: none;
}

.division-line {
    width: 100%;
    height: 3px;
    background-color: rgb(55, 55, 95);
}
/*navbar end*/

/*server info navbar*/
.server-info-navbar a {
   background-color: rgb(12, 80, 76);
   padding: 5px;
   text-decoration: none;
   margin-top: 10px;
   margin-bottom: 40px;
   border: 2px solid rgb(40, 40, 68);
   scroll-behavior: smooth;
}

.server-info-navbar a:hover {
    background-color: rgba(13, 107, 119, 0.822);
    color: white;
}

.server-info-navbar li {
    display: inline-flex;
}
/*server info navbar end*/

/*section style*/
.section-container {
    position: relative;
    top: 50px;
}
/*website welcome*/
.server {
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(34, 34, 41);
    height: 75vh;
}

.title-1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
}

.text-1 {
    position: relative;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    width: 700px;
    text-align: justify;
    font-size: 20px;
}

.discord-logo {
    position: relative;
    left: 180px;
    top: 100px;
    width: 250px;
}

.ytb-logo {
    position: relative;
    top: 100px;
    left: 470px;
    width: 200px;
}

.twitch-logo {
    position: relative;
    top: 100px;
    width: 200px;
}
/*section #1 histoire du serveur*/
#histoire-serveur {
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(34, 34, 41);
}

.cactus-vs-budky {
    position: relative;
    top: -180px;
    left: 55%;
    width: 270px;
    border: 2px solid rgb(163, 115, 42);
}

/*section #2 les anciens*/
#les-anciens {
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(34, 34, 41);
    height: 600px;
}

.ancien-block {
    background-color: rgb(33, 33, 51);
    border: 1px solid rgb(255, 174, 0);
    height: 300px;
    width: 300px;
}

.ancien-block ul {
    position: relative;
    left: -1em;
    top: 1em;
    list-style-type: none;
    text-align: center;
}

.les-anciens-block {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*section #3 & #4 cactus man and Budky biography*/
#cactus-man {
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(34, 34, 41);
    height: 600px;
}

#budky {
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(34, 34, 41);
    height: 600px;
}

.cactus-budky-bio {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255, 196, 0);
    background-color: rgb(33, 33, 51);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

.cactus-budky-img {
    width: 200px;
    border: 2px solid rgb(255, 166, 0);
   
}

/*section #5 le futur*/
#le-futur {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
    background-color: rgb(34, 34, 41);
    height: 600px;
}

.team-hunter-img {
    width: 500px;
    border: 1px solid rgb(126, 2, 2);
    position: relative;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

/*le bas de la page*/
footer {
    width: 100%;
    height: 100px;
    background-color: rgb(10, 10, 10);
}

footer a {
    font-size: 20px;
    color: rgb(82, 0, 0);
}

footer ul {
    display: inline-flex;
}

footer li {
    list-style-type: upper-roman;
    margin-top: 40px;
    margin-left: 80px;
}

/* ----------première page HTML fin--------------------------------------------------------------------------------------- */

/* ----------deuxième page HTML rules début------------------------------------------------------------------------------- */

.server-rules {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
    background-color: rgb(34, 34, 41);
}

.rules-list {
    background-color: rgb(62, 115, 122);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgb(168, 168, 168) 3px 5px;
}

.text-2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    text-align: justify;
    font-size: 20px;
}

.rules-container {
    padding: 50px;
}

.server-rules img {
    position: relative;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
}

/* ----------deuxième page HTML rules fin---------------------------------------------------------------------------------- */

/* ----------troisième page HTML Bots début-------------------------------------------------------------------------------- */

.error-img {
    width: 1500px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

/* ----------troisième page HTML bots fin---------------------------------------------------------------------------------- */

/* ----------quatrième page HTML roles début-------------------------------------------------------------------------------- */

.explication-page {
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(34, 34, 41);
    height: 15em;
}

.hierarchie {
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(34, 34, 41);
    height: 60em;
}

.hierarchie-role {
    background-color: rgb(33, 33, 51);
    border: 1px solid rgb(255, 174, 0);
    width: 700px;
    height: 200px;
    padding: 20px;
}

.hierarchie-roles-container {
    position: relative;
    top: 100px;
    left: 200px;
}

.other-roles {
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(34, 34, 41);
    height: 60em;
    margin-bottom: 50px;
}

.roles-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 800px;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
 .roles-container div {
     background-color: rgb(33, 33, 51);
     border: 1px solid rgb(255, 166, 0);
     width: 250px;
     height: 200px;
     border-radius: 15px;
     margin: 5px;
     padding: 30px;
}

.role-title {
    text-align: center;
}

.role-text {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}

/* ----------quatrième page HTML roles fin---------------------------------------------------------------------------------- */

/* ----------cinquième page HTML channel début---------------------------------------------------------------------------------- */

.channels {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    background-color: rgb(34, 34, 41);
}

.channels-container div {
    margin-bottom: 50px;
}




/* ----------cinquième page HTML channel fin---------------------------------------------------------------------------------- */

/* ----------sixième page HTML admin début---------------------------------------------------------------------------------- */

.admin-info {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    background-color: rgb(34, 34, 41);
    height: 400px;
}

.admin-actif {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    background-color: rgb(34, 34, 41);
    height: 770px;
}

.admin-actif img {
    width: 900px;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* ----------sixième page HTML admin fin---------------------------------------------------------------------------------- */